/* Reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica , Arial, sans-serif;
}

/* Common */
.clear {
    clear: both;
}
.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding: 0 8px;
}


.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.3333333%;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}
.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.pull-right {
    float: right;
}

.btn {
    margin-bottom: 20px;
    padding: 10px 18px;
    background-color: #333;
    color: #f1f1f1;
    transition: .2s;
    border: 1px solid #333;
}
.btn:hover {
    background-color: #fff;
    color: black;
}

/* Main */

#main{

}

#header{
    position:fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 46px;
    background-color: #000;
    z-index: 1;
    overflow: hidden;
}

#nav {
    display: inline-block;
}

#nav ,.subnav{
    list-style: none;
}
#nav > li {
    display:inline-block;
}
#nav li {
  
    position: relative;
}

#nav>li>a{
    color:#fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color:#000;
    background-color:#ccc;
}

#nav .subnav{
    display:none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(19, 17, 17,0.5);
    min-width: 160px;
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#header .menu-mobile-btn,
#header .search-btn {
    float:right;
    padding: 0 21px;
   
}

#header .menu-mobile-btn:hover {
    background-color: #ccc;
}
#header .menu-mobile-btn:hover i {
    color: #000;
}

#header .search-btn:hover{
    background-color: salmon;
    cursor: pointer;
}


#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}



#header .search-btn:hover {
    
}

#slider{
   position: relative;
   margin-top: 46px;
   padding-top: 50%;
   background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute; 
    bottom: 48px;
    /* transform: translateX(-50%);
    left: 50%; */
    text-align: center;
    color: #fff;
    width: 100%; 
}
#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description {
    margin-top: 25px;
    font-size: 15px;
}


#content{

}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
}
#content .section-sub-heading{
    font-size: 15px;
    margin-bottom: 25px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    text-align: justify;
    line-height: 1.4em;
}
#content .member-list{
    padding-top: 48px;
}

#content .member-item {
    float: left;
    width: 33.33333%;
    text-align: center;

}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
    
}

.tour-section {
    background-color: #000;
   
}

.tickets-list {
    margin-top: 40px;
    list-style: none;
    background-color: #fff;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}
.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float:right;
    width: 24px;
    height: 24px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
    
}
 
/* Place */
.place-list {
    margin-top: 32px;
    overflow: hidden;
}

.place-body {
    font-size: 15px;
    background-color: #fff;
   
}
.place-img {
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: .6;
}
.place-heading {
    padding: 15px 0;
    font-style: italic;
    opacity: .6;
    font-weight: 500;
}
.place-time {
     padding-bottom:10px ;
     font-style: italic;
     opacity: .6;
}


/* Contact */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form  {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
}

.contact-form .form-submit {
    float: right;
    color: #ccc;
    padding: 12px 18px; 
    border: 1px solid #ccc;
    background-color: #333;;
}

.contact-form .form-submit:hover {
    color: #333;
    cursor: pointer;
    background-color: #fff;
}

.map-section img {
    width: 100%;
}

.map-section img:hover {
    opacity: .8;
}

#footer {
    padding: 64px 16px;
    text-align: center;
    line-height: 1.4;
    
}
#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a,
#footer .copyright a {
    text-decoration: none;
    color: rgb(0, 0, 0,0.8);
}
#footer .socials-list a:hover,
#footer .copyright a:hover {
    color: rgb(0, 0, 0,0.4)
}

#footer .copyright {
    font-size: 16px;
    font-weight: 700;
}



/* Css Mobile */
@media (max-width: 740px) {
    #nav li {
        display: block;
    }
    #header .search-btn {
        display: none;
    }
}

